<!DOCTYPE html>
<html>
	<head>
		<title>{{ base.title }}</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/main.css">
		{{# each CSSFiles }}
			<link rel="stylesheet" href={{ concat "/css/" this ".css" }}>
		{{/ each }}
	</head>
	<body>
		{{> nav navLinks=navLinks }}
		{{{ body }}}
		<script src="/scripts/main.js"></script>
		{{# each scriptFiles }}
			<script src={{this}}></script>
		{{/ each }}
	</body>
</html>
