body {
	margin: 0;
}

#nav {
	background: #0080ff80;
	height: 50px;
	display: flex;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
}

#nav .-logo {
	height: 36px;
}

#nav .-search {
	--height: 36px;
	--border: 2px;

	--btn-margin: 3px;
	--btn-size: calc(var(--height) - var(--btn-margin) * 2);
	
	width: 400px;
	height: var(--height);
	border: var(--border) solid gray;
	border-radius: 9999px;
	background: white;
	display: flex;
	align-items: center;
}

#nav .-search .-input {
	flex-grow: 1;
	flex-shrink: 1;
	
	width: 0;
	height: calc(var(--btn-size) - 4px);
	
	margin-left: 20px;
	margin-right: 10px;
	border: none;
}

#nav .-search .-input:focus {
	outline: none;
	box-shadow: 0px 1px 1px -1px black;
}

#nav .-search .-submit {
	width: var(--btn-size);
	height: var(--btn-size);
	padding: var(--btn-padding);
	border: none;
	border-radius: 9999px;
	margin: var(--btn-margin);
	
	background-color: white;
	background-image: url("/images/magnifying_glass.svg");
	background-origin: content-box;
	background-clip: content-box;
	background-position: center;
	background-size: 80% 80%;
	background-repeat: no-repeat;
	
	flex-shrink: 0;
	
	transition: background 0.5s;
}

#nav .-search .-submit:hover {
	background-color: #d0d0d0;
}

#nav .-search .-submit:active {
	transition: initial;
	background-color: #b0b0b0;
}

.product-card {
	display: flex;
	flex-direction: column;
	
	width: 150px;
	height: 200px;
	padding: 5px 10px;
	
	background: white;
	box-shadow: 2px 2px 3px black;
	
	font-family: sans-serif;
	font-size: 0.8em;
	color: #0080ff;
}

.product-card > * {
	margin-top: 2px;
	margin-bottom: 2px;
}

.product-card .-name {
	font-size: 2em;
}

.product-card .-img {
	flex-grow: 1;
}

.product-card .-price {
	font-style: italic;
}

.notif-deployment-system {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

.notif-deployment-system > .notif {
	display: flex;
	padding: 1em;
	width: 100%;
	background: #e0e0e080;
	border-radius: 0.5em;
}

.notif-deployment-system > .notif.type-info {
	background: #ffff0080;
}

.notif-deployment-system > .notif.type-error {
	background: #ff000080;
}

.notif-deployment-system > .notif > .-txt {
	flex-grow: 1;
}

.notif-deployment-system > .notif > .-close-btn {
	width: 1em;
	
	background-image: url("/images/close.svg");
	background-origin: content-box;
	background-clip: content-box;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	
	opacity: 0.3;
}

.notif-deployment-system > .notif > .-close-btn:hover {
	opacity: 0.4;
}

.notif-deployment-system > .notif > .-close-btn:active {
	opacity: 0.6;
}
