<div class="login-card">
	<form class="-form" action="/login" method="POST">
		<label for="0685f8e3-08a6-44bd-8112-4cb6b233bce5-text">Username:</label>
		<input id="0685f8e3-08a6-44bd-8112-4cb6b233bce5-text" type="text" name="username" class="-username" />
		
		<div style="flex-grow: 0.2;"></div>
		
		<label for="9935842e-963c-4bb2-97e6-9b81c023ef01-password">Password:</label>
		<input id="9935842e-963c-4bb2-97e6-9b81c023ef01-password" type="password" name="password" class="-password" />
		
		<div style="flex-grow: 1;"></div>
		
		<input id="72932964-c85e-4994-8361-dbb27c2d4749-submit" type="submit"class="-submit" value="LOG IN" />
	</form>
</div>