<nav id="nav">
	<div style="width: 50px; flex-shrink: 1;"></div>
	<img class="-logo" src="/images/logo.svg">
	<div style="flex-grow: 2;"></div>
	<div class="-search">
		<input class="-input" type="text">
		<button class="-submit"></button>
	</div>
	<div style="flex-grow: 1;"></div>
	<a href={{ concat "/login?redirect=" urlEncodedPath }}>Log in</a>
</nav>
