<div class="product-card">
	<span class="-name">{{product.name}}</span>
	<span class="-id">Id: {{product.id}}</span>
	<img class="-img" src={{product.img}} >
	<span class="-price">${{product.price}}</span>
</div>
