<div id="c44a7de8-d3a3-4c76-bfe3-688ea491780d-login-card" class="login-card">
	<label for="6b8bcc29-34b9-4fbc-950b-553956d24127-text">Username:</label>
	<input id="6b8bcc29-34b9-4fbc-950b-553956d24127-text" type="text" name="username" class="-username" />
	
	<div style="flex-grow: 0.2;"></div>
	
	<label for="66fb6892-860e-4a8d-9938-bcd2d58f30e4-password">Password:</label>
	<input id="66fb6892-860e-4a8d-9938-bcd2d58f30e4-password" type="password" name="password" class="-password" />
	
	<div style="flex-grow: 1;"></div>
	
	<input id="2746d028-c48f-452a-ae60-0871c1a6f764-submit" type="submit"class="-submit" value="SIGN UP" />
</div>

{{> notif-deployment-system id="624bd2f5-bf29-47a5-a38d-1e688e26c751-notif" }}
